body
{
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333333;
    margin: 0;
    padding: 0;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.search-box input 
{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

nav 
{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

nav a 
{
    color: #333;
    text-decoration: none;
    background-color: #E0E0E0;
    padding: 8px 12px;
    border-radius: 8px;
}

.promociones 
{
    background-color: #E6F0FA;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
}

.tarjetas
{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    width: 80%;
    gap: 20px;
    margin: 20px auto;
}

.tarjeta
{
    background-color: #F3EDF7;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tarjeta img
{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.tarjeta .contenido 
{
    padding: 10px;
}